[submodule "engine/third-party/spdlog"]
	path = engine/third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/third-party/glfw"]
	path = engine/third-party/glfw
	url = https://github.com/glfw/glfw
