[submodule "engine/third-party/spdlog"]
	path = engine/third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/third-party/glfw"]
	path = engine/third-party/glfw
	url = https://github.com/glfw/glfw
[submodule "engine/third-party/imgui"]
	path = engine/third-party/imgui
	url = https://github.com/baard047/imgui
[submodule "engine/third-party/glm"]
	path = engine/third-party/glm
	url = https://github.com/g-truc/glm
